<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tienda de útiles escolares</title>
    <link rel="stylesheet" href="/styles/main.css">
</head>
<body>
    {{> partials/header}}
    {{{body}}}
    {{> partials/footer}}
    <script src="/scripts/main.js"></script>
</body>
</html>
