<div class="container">
    <h1>Bienvenido a nuestra tienda de útiles escolares</h1>
    <p>Encuentra todo lo que necesitas para tu vuelta a clases:</p>
    <ul>
        <li>Lápices</li>
        <li>Cuadernos</li>
        <li>Lapiceras</li>
        <li>Gomas</li>
        <li>Reglas</li>
        
    </ul>
</div>
